body{
    align-items: center;
    text-align: center;
}
li{
    padding: 10px;
    font-size: large;
}
a{ 
    width: 20%;
    text-decoration: none;
    color: black;
}
table{
    border-collapse: collapse;
    width: 20%; /* or any suitable width */
    margin-left: auto;
    margin-right: auto;
}

table, th, td{
    border: 1px solid black;
}
th, td{
    padding: 10px;
    text-align: center;
}